matplotlib
# numpy removed float in 1.24
# numpy removed python 3.7 in 1.22
numpy~=1.21.0
# numpy requires older pandas so lets not pin
# pandas~=1.5.3
pandas
seaborn
statsmodels
# pythontex
# samri @ git+https://github.com/IBT-FMI/SAMRI.git
pybids~=0.6.5


# FOR AUSTIN DONT MERGE
ipdb  
pipdeptree

# nipype
# module 'networkx' has no attribute 'to_scipy_sparse_matrix'
# networkx~=2.3.0
# ^ caused errorImportError: cannot import name 'gcd' from 'fractions' (/usr/lib/python3.9/fractions.py), fixed in 2.5, so downgrading nipype instead
# Since thats a python 3.9 change... I coudl fix this in nipype or roll back to python 3.8
